header { 
    padding-top: 10mm;
}

footer { 
    padding-bottom: 10mm; 
}

td,
th {
    border-style: solid;
}

tr {
	page-break-inside: avoid;
}

.fr-view.fr-print hr {
    page-break-after: auto;
}

.fr-view.fr-print .fr-page-break {
    height: 0;
    margin: 0;
    border: none;
    background: none;
    page-break-before: always;
}

.prewrap {
    white-space: pre-wrap;
}

html {
    font-family: 'Source Serif Pro', serif;
    /*box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;*/
}